@font-face {
    font-family: avenir-next-bold;
    font-weight: 700;
    src: url("/assets/Font/AvenirNextLTPro-Bold.otf");
}
@font-face {
    font-family: avenir-next-regular;
    font-weight: 400;
    src: url("/assets/Font/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: avenir-next-demi;
    font-weight: 600;
    src: url("/assets/Font/AvenirNextLTPro-Demi.otf");
}