@font-face {
  font-family: avenir-next-bold;
  font-weight: 700;
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: avenir-next-regular;
  font-weight: 400;
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: avenir-next-demi;
  font-weight: 600;
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf");
}
body {
  margin: 0;
}

.header {
  height: 80px;
  width: 100vw;
  background-color: #323232;
}
.header__logo-container {
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 6.25rem;
  padding: 16px 0px;
}
.header__menu {
  font-family: avenir-next-regular;
  font-size: 13px;
  line-height: 18px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: #AFAFAF;
  padding: 0;
  margin: 0;
  width: 100%;
}
.header__border-one:hover {
  color: #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
}
.header__border-two:hover {
  color: #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
}
.header__menu-item--one, .header__menu-item--two {
  text-align: center;
  padding-bottom: 3px;
  font-size: 1rem;
  width: 50vw;
}

.hero {
  width: 100vw;
  height: 11.4375rem;
  background-image: url("/assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__container {
  width: 100vw;
  height: 11.4375rem;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__text {
  font-family: avenir-next-bold;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0 0 0 1rem;
  width: 16.875rem;
}

.music {
  margin: 0 1rem;
}
.music__title {
  font-family: avenir-next-bold;
  font-size: 24px;
  line-height: 32px;
  color: #323232;
  margin: 1.5rem 0 1rem 0;
}
.music__container-image {
  height: 45.3125vw;
  margin: 0 0 1rem 0;
}
.music__image {
  height: 100%;
  width: 100%;
}
.music__quote {
  font-family: avenir-next-demi;
  font-size: 14px;
  line-height: 22px;
  color: #323232;
  margin: 0 0 1rem 0;
}
.music__person {
  font-family: avenir-next-regular;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #323232;
  margin: 0 0 1.5rem 0;
}
.music__band {
  font-family: avenir-next-demi;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 1rem 0;
}
.music__description--one {
  font-family: avenir-next-regular;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
  margin: 0 0 1rem 0;
}
.music__description--two {
  font-family: avenir-next-regular;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
  margin: 0 0 1rem 0;
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.photo-gallery__item {
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  font-size: 5rem;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    width: 100vw;
    background-color: #323232;
  }
  .header__medium {
    display: flex;
    width: 50vw;
    align-items: center;
    height: 100%;
  }
  .header__logo {
    width: 6.25rem;
    margin: 0 1.5rem;
    padding: 0;
  }
  .header__border-one, .header__border-two {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    border-bottom: 4px solid transparent;
    margin: 0 1.75rem;
  }
  .header__border-bottom:hover {
    border-bottom: 4px solid #FFFFFF;
  }
  .header__menu {
    display: flex;
    justify-content: space-around;
    width: auto;
  }
  .header__menu-item--one, .header__menu-item--two {
    font-size: 6.25rem;
    width: 5rem;
    padding: 0;
    font-size: 1rem;
  }
  .hero {
    width: 100vw;
    height: 25rem;
    background-image: url("/assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero__container {
    width: 100vw;
    height: 25rem;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero__text {
    font-family: avenir-next-bold;
    font-size: 60px;
    line-height: 68px;
    color: #FFFFFF;
    margin: 0 0 0 1.5rem;
    width: 31.875rem;
  }
  .music {
    margin: 0 1.5rem;
  }
  .music__title {
    font-family: avenir-next-bold;
    font-size: 36px;
    line-height: 44px;
    color: #323232;
    margin: 3rem 0 1.5rem 0;
  }
  .music__container-image {
    height: 47.136vw;
    margin: 0 2rem 1.5rem 2rem;
  }
  .music__image {
    height: 100%;
    width: 100%;
  }
  .music__quote {
    font-family: avenir-next-demi;
    font-size: 24px;
    line-height: 32px;
    color: #323232;
    margin: 1.5rem 2rem 1.5rem 2rem;
    width: 84vw;
  }
  .music__person {
    font-family: avenir-next-regular;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #323232;
    margin: 0 0 2rem 2rem;
  }
  .music__band {
    font-family: avenir-next-demi;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 0 0 1.5rem 2rem;
  }
  .music__description-container {
    display: flex;
    margin: 0 2rem;
  }
  .music__description--one {
    font-family: avenir-next-regular;
    font-size: 14px;
    line-height: 22px;
    color: #323232;
    margin: 0 1.5rem 2.5rem 0;
  }
  .music__description--two {
    font-family: avenir-next-regular;
    font-size: 14px;
    line-height: 22px;
    color: #323232;
    margin: 0 0 2.5rem 0;
  }
  .photo-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .photo-gallery__item {
    width: 30%;
    margin: 3vw 0;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 80px;
    width: 100vw;
    background-color: #323232;
  }
  .header__medium {
    display: flex;
    width: 50vw;
    align-items: center;
    height: 100%;
  }
  .header__logo {
    width: 6.25rem;
    margin: 0 1.75rem 0 11.25rem;
    padding: 0;
  }
  .header__border-one, .header__border-two {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    border-bottom: 4px solid transparent;
    margin: 0 1.75rem;
  }
  .header__border-bottom:hover {
    border-bottom: 4px solid #FFFFFF;
  }
  .header__menu {
    display: flex;
    justify-content: space-around;
    width: auto;
  }
  .header__menu-item--one, .header__menu-item--two {
    width: 5rem;
    padding: 0;
    font-size: 1rem;
  }
  .hero {
    width: 100vw;
    height: 41.875rem;
    background-image: url("/assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 41.875rem;
    background-color: rgba(50, 50, 50, 0.5);
  }
  .hero__text {
    font-family: avenir-next-bold;
    font-size: 60px;
    line-height: 68px;
    color: #FFFFFF;
    margin: 0 0 0 11.25rem;
    width: 31.875rem;
  }
  .music {
    margin: 0 3rem;
  }
  .music__title {
    font-family: avenir-next-bold;
    font-size: 36px;
    line-height: 44px;
    color: #323232;
    margin: 5rem 0 3rem 0;
  }
  .music__container-image {
    height: 47.136vw;
    margin: 0 4rem 2rem 4rem;
  }
  .music__image {
    height: 100%;
    width: 100%;
  }
  .music__quote {
    font-family: avenir-next-demi;
    font-size: 24px;
    line-height: 32px;
    color: #323232;
    margin: 2rem 4rem 2rem 4rem;
    width: 84vw;
  }
  .music__person {
    font-family: avenir-next-regular;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #323232;
    margin: 0 0 4rem 4rem;
  }
  .music__band {
    font-family: avenir-next-demi;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 0 0 2rem 4rem;
  }
  .music__description-container {
    display: flex;
    margin: 0 4rem;
  }
  .music__description--one {
    font-family: avenir-next-regular;
    font-size: 14px;
    line-height: 22px;
    color: #323232;
    margin: 0 1.5rem 2.5rem 0;
  }
  .music__description--two {
    font-family: avenir-next-regular;
    font-size: 14px;
    line-height: 22px;
    color: #323232;
    margin: 0 0 2.5rem 0;
  }
  .photo-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .photo-gallery__item {
    width: 30%;
    margin: 3vw 0;
  }
}/*# sourceMappingURL=bio.css.map */