@use 'partials/variables.scss' as *;
@use 'partials/mixins.scss' as *;

body{
    margin: 0;
}
.header {
    height: 80px;
    width: 100vw;
    background-color: $bandsite-black;
    &__logo-container {
        display: flex;
        justify-content: center;
    }
    &__logo {
        width: 6.25rem;
        padding: 16px 0px;
    }
    &__menu {
        @include body-copy-mobile;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        color: $silver;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    &__border-one:hover {
        color: $white;
        border-bottom: 5px solid $white;
    }
    &__border-two:hover {
        color: $white;
        border-bottom: 5px solid $white;
    }
    &__menu-item--one, &__menu-item--two {
        text-align: center;
        padding-bottom: 3px; 
        font-size: 1rem;
        width: 50vw;
  }  
}
.hero {
    width: 100vw;
    height: 11.4375rem;
    background-image: url("/assets/Images/hero-bio.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__container {
        width: 100vw;
        height: 11.4375rem;
        background-color: rgba($bandsite-black, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
    &__text {
        @include page-header-mobile;
        color: $white;
        margin: 0 0 0 1rem;
        width: 16.875rem;
    }
}
.music {
    margin: 0 1rem;

    &__title {
        @include section-header-mobile;
        color: $bandsite-black;
        margin: 1.5rem 0 1rem 0;
    }

    &__container-image {
        height: 45.3125vw;
        margin: 0 0 1rem 0;
    }

    &__image {
        height: 100%;
        width: 100%;
    }

    &__quote {
        @include subheader-mobile;
        color: $bandsite-black;
        margin: 0 0 1rem 0;
    }
    &__person {
        @include body-copy-mobile;
        font-weight: 600;
        color: $bandsite-black;
        margin: 0 0 1.5rem 0;
    }
    &__band {
        @include subheader-mobile;
        color: $bandsite-darkblack;
        margin: 0 0 1rem 0;
    }
    &__description--one {
        @include body-copy-mobile;
        color: $bandsite-black;
        margin: 0 0 1rem 0;
    }
    &__description--two {
        @include body-copy-mobile;
        color: $bandsite-black;
        margin: 0 0 1rem 0;
    }
}

.photo-gallery {
    background-color: $alabaster;
    &__container {
        margin: 0 1rem;
    }
    &__title {
        @include section-header-mobile;
        color: $bandsite-black;
        margin: 0 0 1.5rem 0;
        padding-top: 2rem;
    }
    &__image-container {
        display: flex;
        flex-direction: column;
    }
    &__item {
        // height: 50.625vw;
        // width: 100%;
        margin-bottom: 1rem;
        &--nine {
            margin-bottom: 2rem;
        }
    }
    &__item:hover {
        box-shadow: 2px 2px 20px;
    }
}

.footer {
    background-color: $bandsite-black;
    &__container {
        margin: 0 1rem;
    }
    &__logo{
        padding: 0 0 1.5rem 0;;
    }
    &__title {
        @include section-header-mobile;
        color: $white;
        margin: 0;
        padding: 3rem 0 1.5rem 0;
    }
    &__image-container {
        display: flex;
        justify-content: space-between;
        width: 135px;
        padding: 0 0 1.5rem 0;
    }
    &__thebeesknees {
        display: flex;
        flex-direction: column;
        &--title {
            @include subheader-mobile;
            color: $white;
            margin: 0;
            padding: 0 0 1rem 0;
        }
        &--address {
            @include footer-copy-desktop;
            color: $white;
            margin: 0;
            padding: 0 0 1rem 0;
            width: 54.208604vw;
        }
        &--email {
            margin: 0;
            &-link {
                text-decoration: none;
                @include footer-copy-desktop;
                color: $white;
                margin: 0;
                padding: 0 0 1.5rem 0;
            }
            &-link:hover {
                color: $silver;
            }   
        }
    }

    &__limitlessartistgroup {
        display: flex;
        flex-direction: column;
        &--title {
            @include subheader-mobile;
            color: $white;
            margin: 0;
            padding: 0 0 1rem 0;
        }
        &--address {
            @include footer-copy-desktop;
            color: $white;
            margin: 0;
            padding: 0 0 1rem 0;
            width: 54.208604vw;
        }
        &--email {
            margin: 0;
            &-link {
                text-decoration: none;
                @include footer-copy-desktop;
                color: $white;
                margin: 0;
                padding: 0 0 1.5rem 0;
            }
            &-link:hover {
                color: $silver;
            }   
        }
    }


    &__archentertainment {
        display: flex;
        flex-direction: column;
        &--title {
            @include subheader-mobile;
            color: $white;
            margin: 0;
            padding: 0 0 1rem 0;
        }
        &--address {
            @include footer-copy-desktop;
            color: $white;
            margin: 0;
            padding: 0 0 1rem 0;
            width: 54.208604vw;
        }
        &--email {
            margin: 0;
            &-link {
                text-decoration: none;
                @include footer-copy-desktop;
                color: $white;
                margin: 0;
                padding: 0 0 1.5rem 0;
            }
            &-link:hover {
                color: $silver;
            }   
        }
    }   

    &__copyright {
        @include footer-copy-desktop;
        color: $white;
        margin: 0;
        width: 66.68vw;
        padding: 0 0 1.5rem 0;
    }
}

// Responsive Design
@include tablet {
    .header {
        height: 80px;
        width: 100vw;
        background-color: $bandsite-black;
        &__medium {
            display: flex;
            width: 50vw;
            align-items: center;
            height: 100%;
        }
        &__logo {
            width: 6.25rem;
            margin: 0 1.5rem;
            padding: 0;
        }
        &__border-one, &__border-two {
            border-bottom: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80px;
            border-bottom: 4px solid transparent;
            margin: 0 1.75rem;
        }
        &__border-bottom:hover {
            border-bottom: 4px solid $white;
        }
        &__menu {
            display: flex;
            justify-content: space-around;
            width: auto;
        }
        &__menu-item--one, &__menu-item--two {
            font-size: 6.25rem;
            width: 5rem;
            padding: 0;
            font-size: 1rem;
        } 
    }

    .hero {
        width: 100vw;
        height: 25rem;
        background-image: url("/assets/Images/hero-bio.jpg"); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &__container {
            width: 100vw;
            height: 25rem;
            background-color: rgba($bandsite-black, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }
        &__text {
            @include page-header-desktop;
            color: $white;
            margin: 0 0 0 1.5rem;
            width: 31.875rem;
        }
    }  

    .music {
        margin: 0 1.5rem;

        &__title {
            @include section-header-desktop;
            color: $bandsite-black;
            margin: 3rem 0 1.5rem 0;
        }
        &__container-image {
            height: 47.136vw;
            margin: 0 2rem 1.5rem 2rem;
        }
        &__image {
            height: 100%;
            width: 100%;
        }
        &__quote {
            @include subheader-desktop;
            color: $bandsite-black;
            margin: 1.5rem 2rem 1.5rem 2rem;
            width: 84vw;
        }
        &__person {
            @include body-copy-desktop;
            font-weight: 600;
            color: $bandsite-black;
            margin: 0 0 2rem 2rem;
        }
        &__band {
            @include subheader-desktop;
            color: $bandsite-darkblack;
            margin: 0 0 1.5rem 2rem;
        }
        &__description-container {
            display: flex;
            margin: 0 2rem ;
        }
        &__description--one {
            @include body-copy-desktop;
            color: $bandsite-black;
            margin: 0 1.5rem 2.5rem 0;
        }
        &__description--two {
            @include body-copy-desktop;
            color: $bandsite-black;
            margin: 0 0 2.5rem 0;
        }
    } 

    .photo-gallery {
        background-color: $alabaster;

        &__container {
            margin: 0 1.5rem;
        }
        &__title {
            @include section-header-desktop;
            color: $bandsite-black;
            margin: 0 0 1.5rem 0;
            padding-top: 2rem;
        }
        &__image-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
        &__item {
        height: 16.40625vw;
        width: 29.166666vw;
        margin: 0 1.5rem 1.5rem 0;
            &--three, &--six, &--nine{
            margin-right: 0;
            }
        }
    }

    .footer {
        background-color: $bandsite-black;
        &__container {
            margin: 0 1.5rem;
        }
        &__title {
            @include section-header-mobile;
            padding: 3rem 0 2.5rem 0;
        }
        &__header {
            display: flex;
            justify-content: space-between;
        }
        &__image-container {
            padding: 3rem 0 2.5rem 0;
        }
        &__logo {
            padding: 3rem 0 2.5rem 0;
            visibility: visible;
            margin-left: 136px;
        }
        &__names {
            display: flex;
            justify-content: space-between;
        }

        &__thebeesknees {
            &--title{
                @include subheader-desktop;
            }
            &--address {
                @include footer-copy-desktop;
                width: 225px;
            }
            &--email {
                @include footer-copy-desktop;
                padding: 0 0 2.5rem 0;
            }
        }

        &__limitlessartistgroup {
            &--title{
                @include subheader-desktop;
            }
            &--address {
                @include footer-copy-desktop;
                width: 225px;
            }
            &--email {
                @include footer-copy-desktop;
                padding: 0 0 2.5rem 0;
            }
        }

        &__archentertainment {
            &--title{
                @include subheader-desktop;
            }
            &--address {
                @include footer-copy-desktop;
                width: 225px;
            }
            &--email {
                @include footer-copy-desktop;
                padding: 0 0 2.5rem 0;
            }
        }

        &__copyright {
            @include footer-copy-desktop;
            padding: 0 0 2.5rem 0;
        }
    }
}
@include desktop {
    .header {
        height: 80px;
        width: 100vw;
        background-color: $bandsite-black;
        &__medium {
            display: flex;
            width: 50vw;
            align-items: center;
            height: 100%;
        }
        &__logo {
            width: 6.25rem;
            margin: 0 1.75rem 0 11.25rem;
            padding: 0;
        }
        &__border-one, &__border-two {
            border-bottom: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80px;
            border-bottom: 4px solid transparent;
            margin: 0 1.75rem;
        }
        &__border-bottom:hover {
            border-bottom: 4px solid $white;
        }
        &__menu {
            display: flex;
            justify-content: space-around;
            width: auto;
        }
        &__menu-item--one, &__menu-item--two {
            width: 5rem;
            padding: 0;
            font-size: 1rem;
        } 
    }

    .hero {
        width: 100vw;
        height: 41.875rem;
        background-image: url("/assets/Images/hero-bio.jpg"); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center; 

            width: 100vw;
            height: 41.875rem;
            background-color: rgba($bandsite-black, 0.5);
            
        }
        &__text {
            @include page-header-desktop;
            color: $white;
            margin: 0 0 0 11.25rem;
            width: 31.875rem;
        }
    }  

    .music {
        margin: 0 3rem;
        &__title {
            @include section-header-desktop;
            color: $bandsite-black;
            margin: 5rem 0 3rem 0;
        }
        &__container-image {
            height: 47.136vw;
            margin: 0 4rem 2rem 4rem;
        }
        &__image {
            height: 100%;
            width: 100%;
        }
        &__quote {
            @include subheader-desktop;
            color: $bandsite-black;
            margin: 2rem 4rem 2rem 4rem;
            width: 84vw;
        }
        &__person {
            @include body-copy-desktop;
            font-weight: 600;
            color: $bandsite-black;
            margin: 0 0 4rem 4rem;
        }
        &__band {
            @include subheader-desktop;
            color: $bandsite-darkblack;
            margin: 0 0 2rem 4rem;
        }
        &__description-container {
            display: flex;
            margin: 0 4rem ;
        }
        &__description--one {
            @include body-copy-desktop;
            color: $bandsite-black;
            margin: 0 1.5rem 2.5rem 0;
        }
        &__description--two {
            @include body-copy-desktop;
            color: $bandsite-black;
            margin: 0 0 2.5rem 0;
        }
    } 

    .photo-gallery {
        background-color: $alabaster;
        &__container {
            margin: 0 11.25rem;
        }
        &__title {
            @include section-header-desktop;
            color: $bandsite-black;
            margin: 0 0 4rem 0;
            padding-top: 3rem;
        }
        &__image-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
        &__item {
        height: 13.40vw;
        width: 23.888888vw;
        margin: 0 1.5rem 1.5rem 0;
            &--three, &--six, &--nine{
            margin-right: 0;
        }
        &--seven, &--eight, &--nine{
                margin-bottom: 2.5rem;
            }
        }
    }

    .footer {
        background-color: $bandsite-black;
        &__container {
            margin: 0 11.25rem;
        }
        &__title {
            @include section-header-desktop;
            padding: 3rem 0 3.5rem 0;
        }
        &__header {
            display: flex;
            justify-content: space-between;
        }
        &__image-container {
            padding: 3rem 0 3.5rem 0;
            justify-content: space-evenly;
        }
        &__facebook {
            padding: 0 2rem;
        }
        &__logo {
            padding: 3rem 0 3.5rem 0;
            visibility: visible;
            margin-left: 136px;
        }
        &__names {
            display: flex;
            justify-content: space-between;
        }

        &__thebeesknees {
            &--title{
                @include subheader-desktop;
                padding-bottom: 1.5rem;
            }
            &--address {
                @include footer-copy-desktop;
                width: 225px;
                padding-bottom: 1.5rem;

            }
            &--email {
                @include footer-copy-desktop;
                padding: 0 0 2.5rem 0;
            }
        }

        &__limitlessartistgroup {
            &--title{
                @include subheader-desktop;
                padding-bottom: 1.5rem;
            }
            &--address {
                @include footer-copy-desktop;
                width: 225px;
                padding-bottom: 1.5rem;
            }
            &--email {
                @include footer-copy-desktop;
                padding: 0 0 2.5rem 0;
            }
        }

        &__archentertainment {
            &--title{
                @include subheader-desktop;
                padding-bottom: 1.5rem;
            }
            &--address {
                @include footer-copy-desktop;
                width: 225px;
                padding-bottom: 1.5rem;
            }
            &--email {
                @include footer-copy-desktop;
                padding: 0 0 2.5rem 0;
            }
        }

        &__copyright {
            @include footer-copy-desktop;
            padding: 0 0 2.5rem 0;
        }
    }
}